:root {
    --color-primary: #10923c;
    --color-secondary: #F2F2F2;
    --color-tertiary: #C4C4C4;
    --color-button: #0b6b2b;
    --color-button-hover: #10923c;
    --color-text: #444444;
    --color-white: #FFFFFF;
}

/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    /*background: linear-gradient(90deg, rgba(8,85,39,1) 0%, rgba(16,146,60,1) 50%, rgba(8,86,34,1) 100%);*/
    /*background: repeating-linear-gradient(-45deg, rgba(8,85,39,1), rgba(8,85,39,1) 1px, transparent 1px, transparent 6px);*/
    background:url('assets/tecido_verde_fundo.png') repeat;
    background-size: 400px 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/* Banner */
.header-banner {
    flex: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    /*padding: 40px 0 0;*/
}

/* Seção de entrada */
.input-section {
    flex: 30%;
    background-color: var(--color-secondary);
    background: url('assets/marmore_fundo.png')  no-repeat center center fixed;
    background-size: cover;
    border-radius: 64px 64px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5);
}

/* Seção dos cards */
.cards-section {
    flex: 45%;
    background-color: var(--color-secondary);
    background: url('assets/marmore_fundo.png')  no-repeat center center fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-items: center;
}

/* Títulos */
.main-title {
    text-align: center;
    font-size: 48px;
    font-family: "Merriweather", serif;
    font-weight: 600;
    color: transparent;
    background: url('assets/marmore_fundo_titulo.png');
    background-repeat: repeat;
    background-size: 50px;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.section-title {
    font-family: "Inter", serif;
    font-size: 36px;
    font-weight: 700;
    color: var(--color-primary);
    margin: 10px 0;
    text-align: center;
}

/* Contêineres de entrada e botão */
.input-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

.input-name {
    width: 100%;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 25px 0 0 25px;
    font-size: 16px;
}

.button-container {
    width: 300px;
    justify-content: center;
}

/* Estilos de entrada de texto */
.input-title {
    flex: 1;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #333;
    border-right: none;
    border-radius: 25px 0 0 25px;
    font-family: "Merriweather", serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Estilos de botão */
button {
    padding: 15px 30px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    border: 2px solid #000;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.button-add {
    background-color: var(--color-tertiary);
    color: var(--color-text);
    border-radius: 0 25px 25px 0;
}

.button-add:hover {
    background-color: #a1a1a1;
}

/* Listas */
ul {
    display: flex;
    align-items: center;
    justify-content: left;
    list-style-type: none;
    color: var(--color-text);
    font-family: "Inter", sans-serif;
    font-size: 18px;
    margin: 20px 0;
    width: 100%;
    height: 100%;
    overflow-x: auto;
    column-gap: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

/*[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    width: 100%;
}
*/

li {
    display: grid;
    position: relative;
    grid-template-rows: 20% 60% 20%;
    grid-template-columns: 200px;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #FFFFFF;
    border: 2px solid #000;
    border-radius: 10px;
    height: 75%;
    min-height: 312.28px;
    width: 200px;
    min-width: 200px;
    cursor: pointer;
}

li:hover {
    border: 2px solid #ce2c2c;

    .trash{
        visibility:visible;
    }

    .texto-card{
        visibility:hidden;
    }

    .naipeVisible{
        visibility:hidden;
    }

    .naipeHidden{
        visibility:visible;
    }
    
}

.trash{
    position: absolute;
    color: #ce2c2c;
    transform: scale(2,2);
    visibility:hidden;
    margin-left: 90px;
}

.naipeVisible{
    position: absolute;
    visibility:visible;
    color: #000000;
    transform: scale(2,2);
    height: 20px;
    width: 20px;
    margin-left: 20px;
}

.coroaScale{
    transform: scale(1.75,1.75) !important;
}

.coroaScaleBaixo{
    transform: rotate(180deg)  scale(1.75,1.75) !important;
}

.opaco{
    opacity: 40%;
    pointer-events: all !important;
}

.naipeHidden{
    position: absolute;
    color: #ce2c2c;
    visibility:hidden;
    transform: scale(2,2);
    height: 20px;
    width: 20px;
    margin-left: 20px;
}

.naipeBaixo{
    transform: rotate(180deg)  scale(2,2);
    margin-left: 160px;
}


.flexCenter {
    display: flex;
    align-items: center;
    text-align: center;
}

.texto-card{
    height: 140px;
    margin: 20px;
    width: 160px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: "Merriweather", serif;
    font-weight: 800;
    word-break: break-word;
    color: #000;
}

.result-list {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 15px;
    color: #DBAC34;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.bordaDourado {
    border: 2px solid #DBAC34;
    pointer-events: none;
}

.corDourada {
    color: #DBAC34;
}

/* Botão de sortear título */
.button-draw {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 40px;
    color: var(--color-white);
    background-color: var(--color-button);
    font-size: 16px;
}

.button-draw img {
    margin-right: 40px;
}

.button-draw:hover {
    background-color: var(--color-button-hover);
}
